@import "bourbon/bourbon";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

html,
body,
#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0; }

.panel {
	background-color: #fff;
	border: 1px solid #999;
	left: 0;
	padding: 12px;
	padding: 0.75rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 5;
}

#floating-closest-anchor{
	background-color: black;
	color: white;
	height: 10%;
	opacity: 0;
	padding:5px;
	position: absolute;
	top: -10%;
	width: 100%;
	text-align: center;
	@include transition(all .5s ease-in);
	.anchor-name {
		display: block;
		font-size: 1.5em;
	}
	&.active {
		opacity: .75;
		top: 0;
	}
}

.nav {
	display: none;
	background-color: #000;
	color: #fff;
	height: 25%;
	bottom: 0;
	position: absolute;
	width: 100%;
}

.hidden{
	display: none;
}

#menu{
	width: 30%;
	background-color: black;
	color: white;
	position:absolute;
	bottom: 0;
	left: 35%;
}

#menu {
	select {
		width: 100%;
		font-size: 1.1em;
	}
}